<section class="proyectos container my-3">
    <div class=" py-3 text-light">
        <h5 class="h5-titulos text-center pb-2 border-bottom">Proyectos</h5>
        <div class="row g-4 py-4 mt-2 row-cols-1 row-cols-lg-3 justify-content-center">
            
            <div class="div-proyecto col border border-warning p-2 m-2">
                <div class="bg-warning bg-gradient mb-2">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
                </div>
            <h4 class="h4-titulo-proyectos mt-2"><i class="fa-solid fa-angles-right text-warning"></i> miniAppStore</h4>
            <p class="text-success">Es una demo de una tienda online donde el cliente pagará a contrareembolso.</p>
            <a href="https://github.com/JuAmPi27/miniAppStore" target="_blank" class="icon-link text-warning ms-4 mt-2"><i class="fa-solid fa-code text-warning"></i> Ver código en github...</a>
            <br>
            <div class="my-2 me-2 text-end">
                <a href="#"><i class="fas fa-edit text-warning fs-6"></i></a>
                <a href="#"><i class="far fa-window-close text-warning ms-2 fs-6"></i></a>
            </div>
        </div>
        <div class="div-proyecto col border border-warning p-2 m-2">
            <div class="bg-warning bg-gradient">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
            </div>
            <h4 class="h4-titulo-proyectos mt-2"><i class="fa-solid fa-angles-right text-warning"></i> BreakingAPP</h4>
            <p>Una app que te muestra los perosnajes de la serie, que a la vez son traídos desde una api.</p>
            <a href="https://github.com/JuAmPi27/BreakingAPP" target="_blank" class="icon-link text-warning"><i class="fa-solid fa-code text-warning"></i> Ver código en github...</a>
            <br>
            <div class="my-2 me-2 text-end">
                <a href="#"><i class="fas fa-edit text-warning fs-6"></i></a>
                <a href="#"><i class="far fa-window-close text-warning ms-2 fs-6"></i></a>
            </div>
        </div>
        <div class="div-proyecto col border border-warning p-2 m-2">
            <div class="bg-warning bg-gradient">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
            </div>
                <h4 class="h4-titulo-proyectos mt-2"><i class="fa-solid fa-angles-right text-warning"></i> portfolioWeb_V2</h4>
                <p>Proyecto integrador de la segunda etapa del Argentina programa <em> #yoProgramo.</em></p>
                <a href="https://github.com/JuAmPi27/portfolioWeb_V2" target="_blank" class="icon-link text-warning"><i class="fa-solid fa-code text-warning"></i> Ver código en github...</a>
                <br>
            <div class="my-2 me-2 text-end">
                <a href="#"><i class="fas fa-edit text-warning fs-6"></i></a>
                <a href="#"><i class="far fa-window-close text-warning ms-2 fs-6"></i></a>
            </div>
        </div>
    </div>
    </div>
    <div class="text-center my-4">
        <a [routerLink]="['/inicio']" ><i class="datos-icon fa-solid fa-house text-success ms-2 fs-4"></i></a>    
    </div>
</section>


