<div class="inicio container px-3 text-center my-1 fs-1">
  <h1 class="h1-inicio p-3 m-3">
    BIENVENID@S<br> A <br> MI PORTFOLIO!!!
   </h1>
  <p class="p1-inicio lead text-light fs-3"><br>Sí querés saber un poco más sobre mi<br> te invito a recorrer mi sitio web</p>
  <br>
  <div class="btn-group dropup">
    <button type="button" class="btn-sobreMi btn btn-outline-dark text-warning border-light dropdown-toggle mb-3" data-bs-toggle="dropdown" aria-expanded="false">
      SOBRE MI...
    </button>
    <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenu2">
      <li><a [routerLink]="['/datos']" class="dropdown-item text-info" type="button"><i class="dropdown-icon fa-solid fa-id-card text-info ms-1 me-1"></i> Datos personales</a></li>
      <li><a [routerLink]="['/experiencia']" class="dropdown-item text-info" type="button"><i class="dropdown-icon fa-solid fa-briefcase text-info me-1"></i> Experiencia profesional</a></li>
      <li><a [routerLink]="['/educacion']" class="dropdown-item text-info" type="button"><i class="dropdown-icon fa-solid fa-graduation-cap text-info me-1"></i> Educación</a></li>
      <li><a [routerLink]="['/habilidades']" class="dropdown-item text-info" type="button"><i class="dropdown-icon fa-solid fa-brain text-info me-1"></i> Habilidades</a></li>
      <li><a [routerLink]="['/proyectos']" class="dropdown-item text-info" type="button"> <i class="dropdown-icon fa-solid fa-list-check text-info me-1"></i> Proyectos</a></li>
    </ul>
  </div>
 </div>







