<div class="inicio container px-3 text-center my-1 fs-1">
  <h1 class="h1-inicio p-5 m-3">
    BIENVENID@S<br> A <br> MI PORTFOLIO
   </h1>
  <p class="p1-inicio lead text-light fs-3">
    Me llamo Juan Pablo y soy <span>full stack developer JR</span>, <br> sí querés saber más sobre mi<br> te invito a recorrer mi sitio web
  </p>
  <br>
  <div class="btn-group dropup">
    <button type="button" class="btn-sobreMi btn btn-outline-dark text-warning border-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      SOBRE MI...
    </button>
    <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenu2">
      <li><a [routerLink]="['/Datos']" class="dropdown-item text-info" type="button">Datos personales</a></li>
      <li><a [routerLink]="['/Experiencia']" class="dropdown-item text-info" type="button">Experiencia profesional</a></li>
      <li><a [routerLink]="['/Educacion']" class="dropdown-item text-info" type="button">Educación</a></li>
      <li><a [routerLink]="['/Habilidades']" class="dropdown-item text-info" type="button">Habilidades</a></li>
      <li><a [routerLink]="['/Proyectos']" class="dropdown-item text-info" type="button">Proyectos</a></li>
    </ul>
  </div>
 </div>







