<div class="inicio container px-3 text-center mt-2">
  <h1 class="h1-inicio p-5">
    Bienvenid@s a <br>
   <span class="mt-4">Mi PoRtFoLiO WeB</span> 
   </h1>
   <div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <br>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <p class="lead">
    <br>
    <a href="#" class="btn btn-sm btn-warning text-dark fw-bold border-info"></a>
  </p>
 
</div>







