<div class="container fondo-datos my-2">
    <div class="tarjeta-datos px-4 py-4 my-4">
        <div class="mt-1">
            <a href="#"><i class="fas fa-edit text-dark fs-6"></i></a>
            <a href="#"><i class="far fa-window-close text-dark ms-2 fs-6"></i></a>
        </div>
        <img class="foto-carnet rounded-circle mx-auto ms-5 mb-4" [src]="miPortfolio.img">
        <div class="lista-datos col-md-11 pe-4 px-2 mt-5 text-end">
            <br>
            <a href="#"><i class="fas fa-edit text-success ms-4 fs-6"></i></a>
            <a href="#"><i class="far fa-window-close text-success ms-2 fs-6"></i></a>
            <h4 class="nombre mt-2 fs-2">
                <i class="fa-solid fa-user text-warning fs-4"></i> {{ miPortfolio.apellido }} {{ miPortfolio.nombre }}
            </h4>
            <h5 class="titulo mt-3 fs-3">
                <i class="fa-solid fa-laptop-code text-warning fs-4"></i>
                <strong> {{ miPortfolio.certificado }}</strong>
            </h5>
            <h6 class="email mt-3 fs-5">
                <i class="fa-regular fa-envelope text-warning fs-4 me-2"></i> {{ miPortfolio.email }}
            </h6>
            <h6 class="tel mt-4 me-5 fs-5"><i class="fas fa-mobile-alt text-warning fs-5 me-1"></i>
                {{ miPortfolio.tel }}
            </h6>
            <p class="lugar mt-3 fs-5">
                <i class="fa-solid fa-location-dot text-warning fs-4"></i> {{ miPortfolio.ubicacion }}
            </p>
            <br>
        </div>
        <br>
        <hr>
        <div class="col-lg-11 ms-5">
            <div class="mb-3 text-end">
                <a href="#"><i class="fas fa-edit text-light fs-6"></i></a>
                <a href="#"><i class="far fa-window-close text-light ms-2 fs-6"></i></a>
            </div>
            <br>
            <p class="acerca-de text-success text-center mb-4 fs-5">{{ miPortfolio.acerca }}</p>
            <br>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
                <button type="button" [routerLink]="['/experiencia']" class="btn btn-dark text-light btn-sm border border-1 px-4 gap-3">Ir a experiencias</button>
                <button type="button" [routerLink]="['/educacion']" class="btn btn-outline-warning btn-sm ms-3 px-4">Ir a educación</button>
            </div>
        </div>
        <div class="text-center mt-4 ms-4">
            <a [routerLink]="['/inicio']" ><i class="datos-icon fa-solid fa-house text-dark ms-2 fs-4"></i></a>    
        </div>
    </div>
</div>         
          

