<div class="container-fluid educacion justify-content-center px-2 py-5 mt-2" id="education">
 
  <!-- ==== MODAL EDUCACIÓN ==== -->
  <div class="modal fade" id="educationForm" tabindex="-1" aria-labelledby="educationFormLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="educationFormLabel">Nueva educación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="educationForm" (ngSubmit)="onSubmit()">
            <input type="hidden" name="id" formControlName="id">
            
            <div class="mb-3">
              <label for="titulo" class="col-sm-2 col-form-label">Título:</label>
              <div class="col-sm-10">
                <input type="text" name="titulo" formControlName="titulo" class="form-control" required>
              </div>
            </div>
            <div class="mb-3">
              <label for="escuela" class="col-sm-2 col-form-label">Institución:</label>
              <div class="col-sm-10">
                <input type="text" name="escuela" formControlName="escuela" class="form-control" required>
              </div>
            </div>
            <div class="mb-3">
              <label for="comienzo" class="col-sm-2 col-form-label">Fecha comienzo:</label>
              <div class="col-sm-10">
                <input type="text" name="comienzo" formControlName="comienzo" class="form-control" required>
              </div>
            </div>
            <div class="mb-3">
              <label for="fin" class="col-sm-2 col-form-label">Fecha fin:</label>
              <div class="col-sm-10">
                <input type="text" name="fin" formControlName="fin" class="form-control" required>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-warning text-dark" data-bs-toggle="modal" data-bs-target="#educationForm">Agregar</button>
          <button type="button" class="btn btn-dark text-warning" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  
    <h5 class="pb-2 h5-titulos text-light text-center fs-3">Educación</h5>
    <div *ngIf="isUserLogged" class="data-control">
      <button class="btn btn-sm btn-warning me-2" data-bs-toggle="modal" data-bs-target="#educationForm" (click)="onNewEducation();">Agregar educación</button> 
    </div>
   
    <!-- ====Educacion=== -->
    <div class="row align-items-md-stretch my-3 pb-3 border-bottom justify-content-center">
        <div class="col-md-4" *ngFor="let educacion of educacionList; let i = index">
          <div *ngIf="isUserLogged" class="data-control text-end"> 
            <button class="btn" data-bs-toggle="modal" data-bs-target="#educationForm" (click)="onEditEducation(i);"><i class="fas fa-edit bg-warning text-dark"></i></button>
            <button class="btn" (click)="onDeleteEducation(i);"><i class="fa-solid fa-trash-can bg-warning text-dark"></i></button>
          </div>
          <div class="h-100 p-4 text-center text-dark bg-warning rounded-2">
            <h5 id="edu-escuela"><i class="fa-solid fa-graduation-cap text-dark"></i> {{ educacion.escuela }}</h5>
            <h6 id="edu-titulo">{{ educacion.titulo }}</h6>
            <p><time id="edu-comienzo">{{ educacion.comienzo }}</time> - <time id="edu-fin">{{ educacion.fin }}</time></p>
          </div>
        </div>
    </div>
     
      <!-- ====Cursos realizados==== -->
   <app-cursos></app-cursos>
</div>
