<div class="container-fluid educacion justify-content-center px-2 py-5 mt-2" id="icon-grid">
    <h5 class="pb-2 h5-titulos text-light text-center fs-3">Educación</h5>
   <div class="data-control"> <!-- terminar de ver el modal para agragar y borrar educacion-->
    <button class="btn btn-sm btn-warning me-2" data-bs-toggle="modal" data-bs-target="educationForm">Agregar educación</button> <!--cambiar bottones por iconos-->
    <button class="btn btn-sm btn-warning">Borrar educación</button>

  </div>
   <!-- ====Educacion=== -->
    <div class="row align-items-md-stretch my-3 pb-3 border-bottom justify-content-center">
        <div class="col-md-4" *ngFor="let educacion of educacionList">
          <div class="h-100 p-4 text-center text-dark bg-warning rounded-2">
            <h5><i class="fa-solid fa-graduation-cap text-dark"></i> {{ educacion.escuela }}</h5>
            <h6>{{ educacion.titulo }}</h6>
            <p>{{ educacion.comienzo }} - {{ educacion.fin }}</p>
          </div>
        </div>
    </div>
     
      <!-- ====Cursos realizado==== -->
   <app-cursos></app-cursos>
</div>
