<section class="row experiencia rounded m-5 ms-5 pb-5 mt-2 d-flex text-center">

 <!-- ==== MODAL EXPERIENCIA ==== -->
 <div class="modal fade" id="experienciaForm" tabindex="-1" aria-labelledby="experienciaFormLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="experienciaFormLabel">Nueva experiencia:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="experienciaForm" (ngSubmit)="onSubmit()">
            <input type="hidden" name="id" formControlName="id">
            
            <div class="mb-3 text-start">
              <label for="empresa" class="col-sm-2 col-form-label">Empresa:</label>
              <div class="col-sm-10">
                <input type="text" name="empresa" formControlName="empresa" class="form-control" [ngClass]="{'is-invalid': Empresa?.errors && Empresa?.touched, 'is-valid': !Empresa?.errors && Empresa?.touched}">
                <div *ngIf="Empresa?.errors && Empresa?.touched">
                  <p *ngIf="Empresa?.hasError('required')" class="text-danger">La empresa es requerida!</p>
                </div>
              </div>
            </div>
            <div class="mb-3 text-start">
                <label for="cargo" class="col-sm-2 col-form-label">Cargo:</label>
                <div class="col-sm-10">
                  <input type="text" name="cargo" formControlName="cargo" class="form-control" [ngClass]="{'is-invalid': Cargo?.errors && Cargo?.touched, 'is-valid': !Cargo?.errors && Cargo?.touched}">
                  <div *ngIf="Cargo?.errors && Cargo?.touched">
                    <p *ngIf="Cargo?.hasError('required')" class="text-danger">El cargo es requerido!</p>
                  </div>
                </div>
            </div>
            <div class="mb-3 text-start">
              <label for="pais" class="col-sm-2 col-form-label">País:</label>
              <div class="col-sm-10">
                <input type="text" name="pais" formControlName="pais" class="form-control" [ngClass]="{'is-invalid': Pais?.errors && Pais?.touched, 'is-valid': !Pais?.errors && Pais?.touched}">
                <div *ngIf="Pais?.errors && Pais?.touched">
                  <p *ngIf="Pais?.hasError('required')" class="text-danger">El país es requerido!</p>
                </div>
              </div>
            </div>
            <div class="mb-3 text-start">
              <label for="comienzo" class="col-sm-2 col-form-label">Fecha comienzo:</label>
              <div class="col-sm-10">
                <input type="text" name="comienzo" formControlName="comienzo" class="form-control" [ngClass]="{'is-invalid': Comienzo?.errors && Comienzo?.touched, 'is-valid': !Comienzo?.errors && Comienzo?.touched}">
                <div *ngIf="Comienzo?.errors && Comienzo?.touched">
                  <p *ngIf="Comienzo?.hasError('required')" class="text-danger">Fecha de comienzo requerida!</p>
                </div>
              </div>
            </div>
            <div class="mb-3 text-start">
              <label for="fin" class="col-sm-2 col-form-label">Fecha fin:</label>
              <div class="col-sm-10">
                <input type="text" name="fin" formControlName="fin" class="form-control" [ngClass]="{'is-invalid': Fin?.errors && Fin?.touched, 'is-valid': !Fin?.errors && Fin?.touched}">
                <div *ngIf="Fin?.errors && Fin?.touched">
                  <p *ngIf="Fin?.hasError('required')" class="text-danger">Fecha de fin requerida!</p>
                </div>
              </div>
            </div>
            <div class="mb-3 text-start">
                <label for="tareas" class="col-sm-2 col-form-label">Tareas realizadas:</label>
                <div class="col-sm-10">
                  <input type="text" name="tareas" formControlName="tareas" class="form-control" [ngClass]="{'is-invalid': Tareas?.errors && Tareas?.touched, 'is-valid': !Tareas?.errors && Tareas?.touched}">
                  <div *ngIf="Tareas?.errors && Tareas?.touched">
                  <p *ngIf="Tareas?.hasError('required')" class="text-danger">Las tareas son requeridas!</p>
                </div>
                </div>
              </div>
              <div class="modal-footer">
                <button [disabled]="experienciaForm.invalid" type="submit" class="btn btn-warning text-dark">Guardar</button>
                <button type="button" class="btn btn-dark text-warning" data-bs-dismiss="modal">Cancelar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <h5 class="h5-titulos fs-4 text-light mt-2 text-center border-bottom pb-2">Experiencia Profesional:</h5>
    <div *ngIf="isUserLogged" class="data-control text-start">
      <button class="btn_modal btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#experienciaForm" (click)="onNewExperience()">Agregar experiencia</button> 
    </div>
    
    <div class="accordion d-flex flex-column my-4" id="accordionFlushExample">
        <div class="accordion-item mt-3" *ngFor="let experiencia of experienciaList; let i = index">
            <h5 class="accordion-header" id="flush-headingOne">
                <button class="empresa accordion-button collapsed bg-warning text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h6 class="text-dark text-uppercase">{{ experiencia.empresa }}</h6>
                    <div *ngIf="isUserLogged" class="data-control text-end"> 
                      <button class="btn" data-bs-toggle="modal" data-bs-target="#experienciaForm" (click)="onEditExperience(i);"><i class="fas fa-edit text-dark ms-3 fs-6"></i></button>
                      <button class="btn" (click)="onDeleteExperience(i);"><i class="fa-solid fa-trash-can text-dark fs-6"></i></button>
                    </div>
                </button>
            </h5>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <strong>{{ experiencia.cargo }}<em> {{ experiencia.pais }}</em> </strong>
                <br> Desde {{ experiencia.comienzo }} a {{ experiencia.fin }} 
                <hr>
                <p class="tareas">{{ experiencia.tareas }}</p>
            </div>
            </div>
        </div>
       
    </div>
    <div class="text-center mt-3">
        <a [routerLink]="['/inicio']"><i class="datos-icon fa-solid fa-house text-success ms-2 fs-4"></i></a>  
    </div>
  
</section>
                   
