<section class="row experiencia rounded m-5 ms-5 pb-5 mt-2 d-flex text-center">
    <h5 class="h5-titulos fs-4 text-light mt-2 text-center">Experiencia Profesional:</h5>
    
    <div class="accordion d-flex flex-column my-4" id="accordionFlushExample">
        <div class="accordion-item mt-3" *ngFor="let experiencia of experienciaList">
            <h5 class="accordion-header" id="flush-headingOne">
                <button class="empresa accordion-button collapsed bg-warning text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h6 class="text-dark text-uppercase">{{ experiencia.empresa }}</h6>
                    <div class="btn-edit btn-cruz text-end">
                        <a href="#"><i class="fas fa-edit text-dark ms-3 fs-6"></i></a>
                        <a href="#"><i class="far fa-window-close text-dark p-1 fs-6"></i></a>
                    </div>
                </button>
            </h5>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <strong>{{ experiencia.cargo }}<em> {{ experiencia.pais }}</em> </strong>
                <br> Desde {{ experiencia.comienzo }} a {{ experiencia.fin }} cubriendo período vacacional de la empresa.
                <hr>
                <p class="tareas">{{ experiencia.tareas }}</p>
            </div>
            </div>
        </div>
       
    </div>
    <div class="text-center mt-3">
        <a [routerLink]="['/inicio']" ><i class="datos-icon fa-solid fa-house text-success ms-2 fs-4"></i></a>    
    </div>
</section>
                   
