<a href="#"><i class="fas fa-edit text-warning ms-3 fs-6"></i></a>
<h4 class="text-light ms-3"> CURSOS:</h4>
<div class="row text-light row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-1">
    <div class="col curso d-flex align-items-center ms-5">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
        <div class="border-bottom">
            <div class="btn-edit btn-cruz text-end">
                <a href="#"><i class="fas fa-edit text-warning ms-3 fs-6"></i></a>
                <a href="#"><i class="far fa-window-close text-warning p-2 fs-6"></i></a>
            </div>
            <h6 class="nombre_curso fw-bold mb-0 text-center"><i class="fa-solid fa-file-code text-success fs-4 mx-2"></i>
                Java para no programadores
            </h6>
            <p><em class="text-center">Educación IT (Lavalle 648 Piso 8, CABA)</em><a href="#" class="ms-3 text-success">Ver certificado</a></p>
        </div>
    </div>
    <div class="col curso d-flex align-items-start ms-5">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
        <div class="border-bottom">
            <div class="btn-edit btn-cruz text-end">
                <a href="#"><i class="fas fa-edit text-warning ms-3 fs-6"></i></a>
                <a href="#"><i class="far fa-window-close text-warning p-2 fs-6"></i></a>
            </div>
            <h6 class="nombre_curso fw-bold mb-0 text-center"><i class="fa-solid fa-file-code text-success fs-4 mx-2"></i>
                HTML5: Fundamentos de una página web
            </h6>
            <p><em class="text-center">Educación IT (Lavalle 648 Piso 8, CABA)</em><a href="#" class="ms-3 text-success">Ver certificado</a></p>
        </div>
    </div>
    <div class="col curso d-flex align-items-start ms-5">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
        <div class="border-bottom">
            <div class="btn-edit btn-cruz text-end">
                <a href="#"><i class="fas fa-edit text-warning ms-3 fs-6"></i></a>
                <a href="#"><i class="far fa-window-close text-warning p-2 fs-6"></i></a>
            </div>
            <h6 class="nombre_curso fw-bold mb-0 text-center"><i class="fa-solid fa-file-code text-success fs-4 mx-2"></i>
                Introducción A Bases De Datos Y Sql
            </h6>
            <p><em class="text-center">Educación IT (Lavalle 648 Piso 8, CABA)</em> <a href="#" class="ms-3 text-success">Ver certificado</a></p>
        </div>
    </div>
</div>
