<a href="#"><i class="fas fa-edit text-warning ms-3 fs-6"></i></a>
<h4 class="text-light ms-3"> CURSOS REALIZADOS:</h4>
<button class="btn btn-sm btn-warning">Agregar curso</button>
<div class="row text-light row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-1">
    <div class="col curso d-flex align-items-center ms-5" *ngFor="let curso of cursosList">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
        <div class="border-bottom">
            <div class="btn-edit btn-cruz text-end">
                <a href="#"><i class="fas fa-edit text-warning ms-3 fs-6"></i></a>
                <a href="#"><i class="far fa-window-close text-warning p-2 fs-6"></i></a>
            </div>
            <h6 class="nombre_curso fw-bold mb-0 text-center"><i class="fa-solid fa-file-code text-success fs-4 mx-2"></i>
                {{ curso.nombre }}
            </h6>
            <p><em class="text-center ms-1 fs-6">{{ curso.lugar }}</em>
                <a [href]="curso.src" class="ms-3 text-success" target="_blank">Ver certificado</a></p>
        </div>
    </div>
</div>
