
 <div class="barra-superior container-fluid p-3 mx-2 mt-1 text-white rounded">
    <nav class="nav-main d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div>
            <a href="https://www.argentina.gob.ar/latiendo/queres-capacitarte-y-estudiar/argentina-programa" target="_blank" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img  class="img-logo" src="assets/logo_AP.jpg" alt="LoGo ArGeNtInA PrOgRaMa">
            </a>
        </div>
        <div>
            <h4 class="nav-h4 ms-2 text-dark fs-6">
                <em>Argentina Programa</em> <br> 
                <em class="ms-1">#YoProgramo</em>
            </h4>
        </div>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
            <li>
                <a [routerLink]="['/inicio']" class="nav-link px-3 my-1 ms-3 text-dark">
                    <i class="nav-icon fa-solid fa-house text-dark ms-2"></i>INICIO
                </a>
            </li>
             <li>
                <a [routerLink]="['/datos']" class="nav-link px-3 my-1 ms-5 text-dark">
                    <i class="nav-icon fa-solid fa-id-card text-dark ms-1 me-1"></i>Datos personales
                </a>
            </li>
            <li>
                <a [routerLink]="['/experiencia']" class="nav-link px-3 my-1 text-dark">
                    <i class="nav-icon fa-solid fa-briefcase text-dark me-1"></i>Experiencia
                </a>
            </li>
            <li>
                <a [routerLink]="['/educacion']" class="nav-link px-3 my-1 text-dark">
                    <i class="nav-icon fa-solid fa-graduation-cap text-dark me-1"></i>Educación
                </a>
            </li>
            <li>
                <a [routerLink]="['/habilidades']" class="nav-link px-3 my-1 text-dark">
                    <i class="nav-icon fa-solid fa-brain text-dark me-1"></i>Habilidades
                </a>
            </li>
            <li>
                <a [routerLink]="['/proyectos']" class="nav-link px-3 my-1 text-dark">
                    <i class="nav-icon fa-solid fa-list-check text-dark me-1"></i>Proyectos
                </a>
            </li>
        </ul>
        <div class="text-end">
            <a [href]="linkedInUrl" target="_blank"><i class="fab fa-linkedin text-dark fs-4 ms-3"></i></a>
            <a [href]="gitHubUrl" target="_blank"><i class="fa-brands fa-github-square text-dark fs-4 ms-3"></i></a>
            
                <button *ngIf="!isUserLogged" type="button" [routerLink]="['/login']" class="btn btn-outline-dark ms-5 mt-2"><b class="btn-login">Login</b></button>
                <button *ngIf="isUserLogged" type="button" class="btn btn-outline-success ms-5 mt-2" (click)="logout()"><b>Logout</b></button>
            
        </div>
    </nav>
</div>
   


