<section class="container form-signin text-center p-5 my-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
      <img class="my-2 rounded-circle" [src]="miPortfolio.img" alt="" width="90" height="90">
      <h5 class="h5-titulos mt-2 mb-3 fw-normal text-light">Login</h5>
  
      <div class="form-floating">
        <input type="email" class="form-control" required formControlName="email" id="floatingInput" placeholder="nombre@ejemplo.com">
        <label for="floatingInput">Correo</label>
        <div *ngIf="Email?.errors && Email?.touched">
          <span *ngIf="Email?.hasError('required')" class="text-danger">El email es requerido</span>
        </div>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control mt-2" required formControlName="contraseña" id="floatingPassword" placeholder="Contraseña">
        <label for="floatingPassword">Contraseña</label>
      </div>
  
      <div class="checkbox mb-2">
        <label class="text-light">
          <input type="checkbox" value="remember-me"> Recordar datos
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-warning text-dark" type="submit">Enviar</button>
    </form>
</section>
