* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #060606;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffe400' fill-opacity='0.98'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/* Navigation */
.barra-superior {
    background-color: #FFE400;
    margin-bottom: 1px;
    border: 1px solid #191A19;
}
.nav-main  {
    font-family: 'Oswald', sans-serif;
}
.img-logo {
    width: 40px;
}
.nav-h4 {
    letter-spacing: 1px;
}
.nav-link {
    letter-spacing: 2px;
    display: flex; 
    text-decoration: underline;
    text-shadow: 3px 5px 15px #222;
}
.nav-icon:hover {
    text-shadow: 2px 4px 15px #fff;
}
.btn-login {
    letter-spacing: 2px;
}

/* section datos personales */
.fondo {
    background-color: #FFE400;
}
.imagen-fondo img {
    width: 95%;
    height: auto; 
}

/* inicio */
.inicio {
    background-image: url("assets/mundo.jpg");
    background-size: cover; 
    height: 550px;
    border: 1px solid #fff;
}

.h1-inicio {
    font-family: 'Russo One', sans-serif;
    color: #fff;
    letter-spacing: 4px;
}
.p1-inicio {
    font-family: 'Barriecito', cursive;
    text-shadow: 2px 4px 15px #fff;
    letter-spacing: 4px;
}
.dropdown {
    margin-top: -5px;
}
.dropdown-menu {
    font-family: 'Oswald', sans-serif;
}
.btn-sobreMi {
    font-family: 'Barriecito', cursive;
    letter-spacing: 4px;
}

/* datos personales */
.fondo-datos {
    background-image: url("assets/fondo1.jpg");
    background-size: cover;
    border: 1px solid #fff;
    height: 650px;
}
.foto-carnet {
    height: 40%;
    border: 1px solid #000;
    margin-left: 70px;
}
.acerca-de {
    font-family: 'Barriecito', cursive;
    letter-spacing: 4px;
    text-shadow: 2px 2px 15px rgba(31, 218, 6, 0.788);
}
.lista-datos {
    list-style:  none;
}
.nombre {
    font-family: 'Russo One', sans-serif;
    letter-spacing: 4px;
}
.titulo {
    font-family: 'Russo One', sans-serif;
    letter-spacing: 4px;
    color: #fff; 
}
.email {
    font-family: 'Russo One', sans-serif;
    letter-spacing: 4px;
    color: #fff; 
}
.tel {
    font-family: 'Russo One', sans-serif;
    letter-spacing: 4px;
    color: #fff; 
}
.link-datos {
    text-decoration: none;
}

/* experiencia laboral */
.h5-titulos {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 4px;
    text-shadow: 2px 3px 15px #fff;
    text-decoration: underline;
}
.experiencia {
    background-size: cover; 
    margin-top: 1px;
    margin-left: 1px;
}
.empresa h6{
    font-family: 'Indie Flower', cursive;
}
